@import "node_modules/office-ui-fabric-react/dist/css/fabric.min.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import './variable.scss';
@import './mixin.scss';


/* Default Basic Comman Style CSS Start */
html, body {
    // font-family: $font-regular;
    // color: $black;
    color: black;
  }
  html, body, h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  *, ::after, ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  // .ms-Grid-row {
  //   margin: 0 -15px;
  // }
  // .ms-Grid-col {
  //   padding-left: 15px;
  //   padding-right: 15px;
  // }
  .grid-column-wraping-issue {
    .ms-Grid-row {
      display: flex;
      flex-wrap: wrap;
    }
  }
  /* Default Basic Comman Style CSS End */




  /* SharePoint Local layout SCSS Start */
.ms-font-m {
  .SPPageChrome {
    .spAppAndPropertyPanelContainer {
      .SPPageChrome-app {
        #workbenchPageContent {
          width: 100%;
          max-width: 100%;
          .CanvasComponent {
            &.LCS {
              .CanvasZone--edit {
                max-width: 100%;
              }
            }
          }
        }
        .ms-Fabric {
          .mainContent {
            #spPageCanvasContent {
              .SPCanvas {
                .SPCanvas-canvas {
                  .CanvasComponent {
                    .Canvas {
                      .CanvasZone {
                        >div {
                          max-width: 100% !important;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
/* SharePoint Local Layout SCSS End */

// main CSS Start region
.mainClassifiedContainer{
.subClassified{
  background-color: $secondary-2;;
  border: 1px solid $secondary-2;;
  padding: 27px 20px;
  position: relative;
  border-radius: 20px;
  .contentPivot{
      > .errMsg{
        text-align: center;
        .noItemsDataMsg{
    color: $primary-1;
    font-size: $fs-36;
    }
    .noDataIcon{
     width: 456px;
     @include media-breakpoint-down(sm){
      width: 100%;
     }
    }
}
.classified-cards{
  .content-card{
    .linkItem{
      height: 100%;
      display: flex;
      flex-direction: column;
    .card-body{
      flex: 1;
    }
  }
  }

}
  }
    .ms-SearchBox{
      min-width: 500px;
      width: 100%;
      border: 1px solid $primary-2;
      border-radius: 10px;
      background-color: $secondary-2;;
      &::after{
        display: none;
      }
      @include media-breakpoint-down(xs){
        min-width: 238px;
      }
    }

    .sellProducts{
      margin-top: 30px;
    }

    .headerTitle{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .title{
        h1{
        @include text-styles($fs-22, 27px , $primary-3)
        }
      }


    }
 
    .searchSection{
      margin-bottom: 20px;
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-end;
      @include media-breakpoint-down (xs){
        width: 100%;
      }
      .searchContainer{
        @include media-breakpoint-down(xs){
            width: 100%;
        }
      }
        .filtersSortSection{
          display: flex;
          align-items: end;
          .sort-section{
            .sortBy{
              position: relative;
              margin-left: auto;
              display: flex;
              justify-content: end;
              .ms-Dropdown-container{
                .ms-Dropdown{
                  @include media-breakpoint-down(md){
                   margin-top: 13px;
                  }
                .ms-Dropdown-title{
                  border: 1px solid $secondary-4;
                  color: $secondary-1;
                  background-color: $secondary-2;;
                  border-radius: 10px;
                  padding-left: 39px;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  width: 128px;
                  display: block;
                  padding-top: 6px;
                  height: 40px;
                  // display: flex;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: center;
                  padding-left: 39px;
                }
                .ms-Dropdown-caretDownWrapper{
                  position: absolute;
                  left: 19px;
                  top: 58%;
                  transform: translateY(-50%);
                  height: auto;
                  line-height: normal;
                }
                &:focus{
                  &::after{
                  border: none;
                  }
                }
                }
              }
            }
          }
        }
        @include media-breakpoint-down(xs){
         width: 100%;
        }
      } 





 .pivotSection{
  position: relative;
  .ms-Pivot{
    margin-top: -40px;
    width: 150px;
    margin-left: auto;
    background-color: $primary-1;
    color: $secondary-2;;
    border-radius: 20px;
    margin-bottom: 20px;
    .ms-Button{
      width: 75px;
      color: $secondary-2;
      margin: 0px;
      padding: 0px;
      &.is-selected{
        border-radius: 20px;
        background-color: $secondary-2;
        color: $primary-1;
        &:hover{
          background-color: $secondary-2;
          color: $primary-1;
        }
      }
      &:hover{
        background-color: $primary-1;
        color: $secondary-2;;
        border-radius: 20px;
        &::before{
          display: none;
        }
      }
    }
    @include media-breakpoint-down (xxxs){
      margin-top: 9px;
      margin-left: 0px;
    }
  }

  .ms-Button-flexContainer{
    .ms-Pivot-linkContent{
      .ms-Pivot-text{
        font-size: $fs-18;
      }
    }
  }


  .is-selected{
    background-color: $secondary-2;
    .ms-Button-flexContainer{
      .ms-Pivot-linkContent{
        .ms-Pivot-text{
          color: $primary-1;
          font-size: $fs-18;
        }
      }
    }
    &::before{
      background-color: transparent;
      height: 0px;
    }
    &:hover{
    background-color: $secondary-2;
    color: $primary-1;
    }
  }
  
  
 }

 .buySection{
  .classified-cards{
        .content-card{
          .card-header{
            .edit-icon{
              display: none;
            }
          }
        }
        .emptyCard{
          display: none;
      }
      }
      .pagination-empty-card{
        display: flex;
        justify-content: flex-end;
      }
    }

    // .sellSection{
    //   .pagination-empty-card{
    //     display: flex;
    //     flex-direction: column-reverse;
    //     .pagination-container{
    //     margin: 0px auto;
    //   }
    //   }
    // }
}
}


      .ms-Layer{
        .ms-Layer-content{
          .ms-Callout-container{
            .ms-Dropdown-callout{
              .ms-Callout-main{
                border-radius: 10px;
              }
              margin-top: 10px;
              border-radius: 10px;
              // max-width: 172px;
              // width: 100%;
              .ms-Dropdown-items{
                background: $secondary-2;
                min-width: fit-content;
                .ms-Button{
                  border-bottom: 1px solid $primary-2;
                  .ms-Button-flexContainer{
                    .ms-Dropdown-optionText{
                      color: $primary-3;
                    }
                  }
                }
                
              }
            }
          }
        }
      }


// card css
.classified-cards{
  .content-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    .card-header{
      height: auto;
      overflow: hidden;
      position: relative;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      .prdPrice{
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          transform: scale(1);
          transition: 0.3s all ease-out;
        }
        .prd-amt{
          background-color: $primary-1;
          padding: 4px 14px;
          position: absolute;
          right: 0;
          bottom: 3px;
          border-radius: 5px 0px 0px 5px;
          @include text-styles($fs-20 , 24px,  $secondary-2);
        }
        
      }
      
      .edit-icon{
        position: absolute;
        top: 8px;
        left: 11px;
        background: black;
        padding: 8px;
        border-radius: 5px;
        height: 40px;
        width: 40px;
        > img{
         width: 24px;
         height: 24px;
        }
      }
    }
    .card-body{
      border: 1px solid $secondary-4;
      padding: 20px;
      margin-top: -4px;
      height: 200px;
      flex: 1;
      .card-content{
        p{
          @include text-styles($fs-16, 22px ,$secondary-5, );
          margin-bottom: 10px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;  
          overflow: hidden;
        }
        .card-location{
          display: flex;
          align-items: center;
          @include text-styles ($fs-14, 17px , $secondary-5);
          img{
            margin-right: 10px;
            margin-bottom: 10px
          }
        }

        .card-userName{
        
          display: flex;
          align-items: center;
          @include text-styles ($fs-14, 17px , $secondary-5);
          margin-bottom: 10px;
          img{
            margin-right: 10px;
            margin-bottom: 10px
          }
        }
        }

      .card-title{
        p{
        @include text-styles($fs-18 , 22px , $primary-3);          
        margin-bottom:10px;
        font-weight: 600;
        }
      }
    }

    .social-icons{
      ul{
        display: flex;
        border-top: 0px;
        border-left: 1px solid $secondary-4;
        border-right: 1px solid $secondary-4;
        border-bottom: 1px solid $secondary-4;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
       
         li{
          flex: 1;
          border-right: 1px solid $secondary-4;;
          align-items: center;
          justify-content: center;
          display: flex;
          padding: 14px 11px;
          border-right: 1px solid $secondary-4;
          cursor: pointer;
          @include media-breakpoint-down(xxs){
            padding: 11px 0px;
          }
          img{
            width: 30px;
            height: 30px;
            @include media-breakpoint-down(xxxs){
              width: 15px;
              height: 15px;
            }
          }
          &:last-child{
            border-right: 0px;
          }
        }
      
      }
    }
    &:hover{
      .card-body , .social-icons{
        background-color: $secondary-7;
      }
      .card-header{
        > img{
          transform: scale(1.2);
          transition: 0.3s all ease-out;
        }
      }
      cursor: pointer;
    }
  }

  .disabled{
    .card-header{
      .prdPrice{
        opacity: 0.5;
      }
      .soldLabel{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
      .card-body{
        opacity: 0.5;
      }
      .social-icons{
        opacity: 0.5;
      }

  }
}


.filterSection{
  position: relative;
  .ms-Button{
    background-color: $secondary-3;
    color: $secondary-1;
    padding: 12px 23px;
    margin-left: 10px;
  }
  .filter-dropDown{
    background-color: $secondary-2;
    position: absolute;
    z-index: 1;
    right: 0px;
    min-width: 336px;
    width: 100%;
    border: 0.5px solid $secondary-4;
    box-shadow: 0px 0px 10px $secondary-6;
    border-radius: 20px;
    margin-top: 10px;
    @include media-breakpoint-down(mxs){
      min-width: 262px;
    }
    @include text-styles($fs-12 , 30px, $primary-3);
    .filter-title{
      p{
      @include text-styles ($fs-16, 30px , $primary-3);
      border-bottom: 0.5px solid $secondary-4;
      padding: 20px 20px 10px;
      }
      
    }

    .filter-content{
      padding: 20px;
      .ms-Dropdown-container{
        .ms-Dropdown{
          .ms-Dropdown-title{
          background: $secondary-2;
          border-radius: 10px;
          border-color: $primary-2;
          }
          &:focus{
          &::after{
              display: none;
            }
          }
        }
      }
      .btn-container{
        margin-top: 30px;
      }

      .minMaxInput{
        .ms-Slider{
          .ms-Slider-enabled{
            margin-top: 20px;
          }
          .ms-Slider-container{
            text-align: center;
          }
        }
        .inputPrice{
          .ms-TextField{
            .ms-TextField-wrapper{
              .ms-TextField-fieldGroup{
                border-radius: 10px;
                background-color: $secondary-2;
                border-color: $primary-2;
                .ms-TextField-prefix{
                  background-color: $secondary-2;
                  border-right: 0.5px solid $primary-2;
                  border-top-left-radius: 10px;
                  border-bottom-left-radius: 10px;
                  font-size: $fs-16;
                  color: $primary-1;
                }
              }
            }
            &::after{
              &:focus{
                display: none;
              }
            }
          }
        }
      }
    } 
  }
}

// custom row and custom column css
.custmRow{
  display: flex;
  flex-wrap: wrap;
  margin: 0px -20px;
  box-sizing: border-box;
}

.custmCols{
  flex: 0 0 auto;
  width: 20%;
  padding: 0px 20px;
  margin-bottom: 20px;

  @include media-breakpoint-down(lg){
      width: 33.33%;
      margin: 10px 0px;
    }


    @include media-breakpoint-down(md){
      width: 50%; 
      min-height: auto;
      }

    @include media-breakpoint-down(sm){
      width: 100%; 
      min-height: auto;
      }
    


// empty card design 
  .emptyCardContainer{
    border: 1px dashed $primary-2;
    border-radius: 20px;
    padding: 10px;
    height: 100%;
    min-width: 273px;
    cursor: pointer;
    .addIcon{
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(210px);
    }
  }
  }




// ********************************************************************************************Product page CSS*****************************************************

.productDetails{
  .detailsPage{
    background-color: $secondary-2;
    border-radius: 20px;
    padding: 20px;
    .prdCardContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 30px;
      @include media-breakpoint-down(ipad){
        margin-top: 30px;
      }
      .prd-details{
        width: 60%;
        .prd-title{
          @include text-styles ($fs-24, 29px , $primary-3);
          font-weight:bold;
          margin-bottom: 10px;
        }
          .prd-description{
            @include text-styles ($fs-18 , 22px , $primary-3);
            margin-bottom: 20px;
          }
          .location{
            margin-bottom: 20px;
            @include text-styles ($fs-16 , 19px , $secondary-1);
            img{
              margin-right: 10px;
            }
          }

          .userName{
            margin-bottom: 20px;
            @include text-styles ($fs-14 , 17px , $primary-3);
            img{
              margin-right: 10px;
            }
          }

          .amt{
            @include text-styles ($fs-35 , 46px , $primary-1);
            margin-bottom: 30px;
            font-weight: 600;
          }
      }
      
      .social-icons{
        ul{
          margin-bottom: 30px;
          li{
            border: 0.5px solid $primary-2;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 8px;
          }
        }

      }
    }
    .description{
      border: 0.5px solid $secondary-1;
      border-radius: 10px;
      width: 100%;
      margin-bottom: 30px;
      .desc-title{
        @include text-styles($fs-18, 22px , $primary-3);
        font-weight: bold;
        padding: 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: $secondary-3;
      }
      .desc-details{
        padding: 20px;
        p{
          margin-bottom: 10px;
          margin-left: 10px;
          font-weight: 600;
          @include text-styles ( $fs-16 , 30px , $primary-3);
        }
        .description-line{
          display: flex;
        }
      }
    }
    .line-design{
      border-width: 0.5px;
      border-color: $secondary-3;
    }
    .similarPrudcts{
      padding-top: 51px;
      .borderTitle{
        @include text-styles( $fs-22 , 27px , $primary-3);
        position: relative;
        margin-bottom: 40px;
        display: inline-block;
        padding-bottom: 10px;
        font-weight: 600;
        &::after{
          position: absolute;
          content: "";
          bottom: 0;
          margin-top: 11px;
          border-bottom: 3px solid $primary-1;
          width: 50%;
          left: 0px;
        }
        }
        .classified-cards{
          .emptyCard{
            display: none;
          }
          .content-card{
            .card-header{
              .edit-icon{
                display: none;
              }
            }
          }
        }
      }
    }

//*******************************************************image galary slidere css start region**************************************************************

.imageGallerySlider{
  .image-gallery {
    .image-gallery-content{
      display: flex;
      .image-gallery-thumbnails-wrapper{
        min-width: 184px;
        margin: 0px;
        .image-gallery-thumbnails{
          position: relative;
        }
      }
      .image-gallery-slide-wrapper{     
        display: inline-block;
        width: calc(100% - 220px);
        height: 550px;
        margin: 0px 50px 0px 50px;
        .image-gallery-swipe{
          height: 100%;
          border-radius: 20px;
          box-shadow: 3px 3px 13px $secondary-8;
          .image-gallery-slides{
            height: 100%;
            .image-gallery-slide {
              border-radius: 20px;
              height: 100%;
              .image-gallery-image{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                @include media-breakpoint-down(md){
                  height: auto;
                }
              }
            }
              }
          }
      }
    }
  }

  .image-gallery-thumbnail{
    min-width: fit-content;
    border: none;
    margin-bottom: 20px;
    &:hover, &:focus{
      border: none;
    }
    &.active{
      // border:0.5px solid $primary-1;
      border-radius: 12px;
      width: 160px;
    }    
    .thumbnails-swipe-vertical{
      display: inline-block;
      vertical-align: top;
      width: 204px;
      min-width: auto;
      max-width: initial;
    }
    .image-gallery-thumbnail-inner{
      position: relative;
      width: 160px;
      // margin: 0px 0px 20px 0px;
      &::after{
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        // background-color: $secondary-2;;
        background-color: rgb($secondary-2, 0.6);
        z-index: 1;
        border-radius: 12px;
      }
      .image-gallery-thumbnail-image{
        border: 0.5px solid $secondary-2;;
        border-radius: 12px;
        width: 160px;
        height: 160px;
        border: none;
        &:hover{
          border: none;
         }
      }
    }

     &.active{
        border: 0.5px solid $primary-1;
        .image-gallery-thumbnail-inner{
        &::after{
          background-color: rgb($secondary-2, 0);
      }
      }
      }
  }
}



  //*******************************************************image galary slidere css start region*************************************************************

  }




  // / Callout & Panel Relative Style CSS Start /
  .ms-Layer {
    .ms-Layer-content {
      .ms-Panel {
        &.panel-containers {
          .ms-Panel-main {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            // height: 100vh;
            .ms-Panel-commands {
              margin-top: 0px;
              .ms-Panel-navigation {
                align-items: center;
                justify-content: space-between;
                background-color: $secondary-2;
                box-shadow: 0px 0px 20px $secondary-9;
                padding: 15px 25px;
                position: relative;
                z-index: 1;
                height: 70px;
                @include media-breakpoint-down(sm) {
                  padding: 15px 20px 15px 25px;
                }
                @include media-breakpoint-down(xxs) {
                  padding: 12px 12px 12px 15px;
                }
                .panel-header {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  flex-wrap: wrap;
                  flex: 1;
                  padding-right: 20px;
                  @include media-breakpoint-down(sm) {
                    flex-direction: column;
                    align-items: flex-start;
                  }
                  @include media-breakpoint-down(xxs) {
                    padding-right: 12px;
                  }
                  .left-section {
                    padding-right: 15px;
                    @include media-breakpoint-down(sm) {
                      padding-right: 0px;
                    }
                    .header-left-section-list {
                      display: flex;
                      justify-content: flex-start;
                      .header-left-section-list-item {
                        padding: 0px 20px;
                        &:first-child {
                          padding-left: 0px;
                        }
                        &:last-child {
                          padding-right: 0px;
                        }
                        &:not(:last-child) {
                          border-right: 1px solid $secondary-8;
                        }
                      }
                    }
                  }
                  .right-section {
                    padding-left: 15px;
                    @include media-breakpoint-down(sm) {
                      padding-left: 0px;
                      margin-top: 8px;
                    }
                    
                  }
                  h4 {
                    @include text-styles($fs-18, 20px, $secondary-1);
                    font-weight: bold;
                    margin-bottom: 4px;
                    @include media-breakpoint-down(sm) {
                      @include text-styles($fs-16, 18px, $secondary-1);
                    }
                  }
                  span {
                    @include text-styles($fs-15, 18px, $secondary-1);
                    @include media-breakpoint-down(sm) {
                      @include text-styles($fs-14, 16px, $secondary-1);
                    }
                  }
                }
                .ms-Button {
                  margin-right: 0px;
                }
              }
            }
            .ms-Panel-contentInner {
              position: relative;
              height: calc(100vh - 137px);
              overflow-y: auto;
              .ms-Panel-scrollableContent {
                overflow: inherit;
                .ms-Panel-content {
                  height: 100%;
                  display: flex;
                  flex-direction: column;
                  padding: 0px !important;

                  .panel-body {
                    padding: 20px 30px;
                    height: calc(100vh - 137px);
                    @include media-breakpoint-down(xs){
                      height: calc(100vh - -474px)
                    }
                    @include media-breakpoint-down(xxs) {
                      padding: 10px;
                    }
                    &.sticky-with-content {
                      display: flex;
                      flex-direction: column;
                      .cmn-white-shadow-box {
                        // flex: 1;
                        overflow-y: scroll;

                      }
                      .sticky-top-set {
                        margin: 0px;
                      }
                    }
                    .panelContainer{
                      .customTextFiled{
                        position: relative;
                        margin-bottom: 12px;
                        .requiredmsg{
                            color: $secondary-11;
                            font-weight: 500;
                        }
                      }

                      .requiredmsgRichText , .requiredmsgUploadImages{
                        color: $secondary-11;
                        font-weight: 500;
                        padding-left: 1px;
                      }


                      .material-textfield {
                        position: relative; 

                      }
                      .customRichText{
                        position: relative;
                      }
                      .textareaContainer {
                        position: relative;
                      }
                      
                      .textareaContainer textarea {
                        font-size: $fs-16;
                        outline: none;
                        height: 114px;
                        border: 1px solid $primary-2;
                        border-radius: 10px;
                        padding: 16px 20px;
                        color: $primary-3;
                        transition: 0.1s ease-out;
                        width: 100%;
                        margin-bottom: 0px;
                      }

                      textarea:not(:placeholder-shown)+label {
                        top: 0;
                        transform: translateY(-50%) scale(.9);   
                      }
                      
                      .textareaContainer label {
                        position: absolute;
                        font-size: $fs-16;
                        left: 0px; 
                        top: 25px; 
                        background-color: $secondary-2;
                        color: gray;
                        padding: 0 0.3rem;
                        margin: 0 0.5rem;
                        transition: 0.1s ease-out;
                        transform-origin: left top;
                        pointer-events: none;
                      }
                      
                      .textareaContainer textarea:focus + label {
                        top: 0px; 
                        font-size: $fs-16;
                        // transform: translateY(-50%) scale(.9);
                      }


                      
                      label {
                        position: absolute;
                        font-size: $fs-16;
                        left: 0;
                        top: 44%;
                        transform: translateY(-50%);
                        background-color: $secondary-2;
                        color: gray;
                        padding: 0 0.3rem;
                        margin: 0 0.5rem;
                        transition: .1s ease-out;
                        transform-origin: left top;
                        pointer-events: none;
                      }
                      input {
                        font-size: $fs-16;
                        outline: none;
                        height: 50px;
                        border: 1px solid $primary-2;
                        border-radius: 10px;  
                        padding: 16px 20px;
                        color: $primary-3;
                        transition: 0.1s ease-out;
                        width: 100%;
                        margin-bottom: 2px;
                      }
                      .quill{
                        .ql-editor{
                        border-radius: 10px;
                        margin-bottom: 20px;
                        height: 114px;
                        margin-bottom: 2px;

                        &::after{
                          display: none;
                        }
                        }
                      }
                      input:focus {
                        border-color: $primary-2;  
                      }
                      input:focus + label {
                        color: $secondary-10;
                        top: 0;
                        transform: translateY(-50%) scale(.9);
                      }
                      input:not(:placeholder-shown) + label {
                        top: 0;
                        transform: translateY(-50%) scale(.9);
                      }
                    }
                    
                    .material-textfield-dropdown{
                      font-size: $fs-16;
                      outline: 0;
                      height: 50px;
                      padding: 10px 14px;
                      border: 1px solid $primary-2;
                      border-radius: 10px;
                      color: $primary-3;
                      transition: .1s ease-out;
                      width: 100%;
                      // margin-bottom: 28px;
                      .ms-Dropdown-container{
                        .ms-Dropdown{
                          &:focus{
                            &::after{
                            display: none;
                            }
                          }
                          .ms-Dropdown-title{
                            border: none;
                            background-color: $secondary-2;
                            padding: 0px;
                            font-size: $fs-16;
                            color: $primary-3;
                          }
                        }
                      }
                    }
                  }

                  .panel-footer {
                    padding: 15px 25px;
                    background-color: $secondary-2;
                    box-shadow: 0px 0px 20px $secondary-9;
                    position: sticky;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                    // width: 100%;
                    // position: absolute;
                    // bottom: 0;
                    // right: 0;
                    // left: 0;
                    // height: 70px;
                    @include media-breakpoint-down(sm) {
                      padding: 15px;
                    }
                    @include media-breakpoint-down(xxs) {
                      padding: 12px;
                    }
                    .btn-container {
                      .ms-Button {
                        &:not(:last-child) {
                          margin-right: 20px;
                          @include media-breakpoint-down(sm) {
                            margin-right: 12px;
                          }
                        }
                      }
                    }
                  }
                }
              }
              .ms-Panel-footer {
                background-color: $secondary-3;
                .ms-Panel-footerInner {
                  padding: 0px;
                }
              }
            }
          }
          .ms-Overlay {
          background-color:rgb($primary-3, 0.3);
            filter: blur(0px);
             backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        -moz-backdrop-filter: blur(2px);
          }
          &.product-panel-container {
            @include panelResponsiveCommanWidthStyle(800px);
          }
        }
      }
    }
  }
  // / Callout & Panel Relative Style CSS End /

// button design css start region
// / Button Style CSS Start /
.btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  &.btn-center {
    justify-content: center;
  }
  &.btn-end {
    justify-content: flex-end;
  }
  .ms-Button--primary {
    width: 120px;
    height: 40px;
    // @include text-style($fs-14, 16px, $font-regular, $white);
    font-weight: bold;
    background-color: $secondary-3 ;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
    @include text-styles ($fs-14 , 17px , $secondary-1);
    @include media-breakpoint-down(sm) {
      width: auto;
      height: 34px;
      padding: 0px 40px;
    }
    @include media-breakpoint-down(sm) {
      padding: 0px 20px;
    }
    @include media-breakpoint-down(xxxs) {
      padding: 0px 12px;
    }
    // &:hover {
    //   background-color: transparent;
    //   color: $primary-1;
    //   transition: all 0.5s ease 0s;
    // }
    // Primary Buttons
    &.btn-primary {
      @include buttonBackgroundGenerate($primary-1);
    }
  }
  .btn-secondary-3{
    background-color: $primary-1;
    @include text-styles($fs-14, 17px ,$secondary-2);
  }

  .btn-secondary-2{
    background-color: $secondary-12;
    @include text-styles ($fs-14 , 17px , $secondary-11);
  }
}



// modal popup css start region
.ms-Layer {
  .ms-Layer-content {
.ms-Modal {
      padding: 0px 30px;
      &.ms-Dialog {
        .ms-Dialog-main {
          min-height: auto;
          max-height: initial;
          border-radius: 6px;
          border-radius: 30px;
          overflow: visible;
          .ms-Modal-scrollableContent {
            overflow: visible;
            > div {
              overflow: visible;
              .ms-Dialog-header {
                display: none;
              }
              .ms-Dialog-inner {
                padding: 42px 52px;
                text-align: center;
                background-color:$secondary-2;
                border-radius: 30px;
                min-width: 403px;
                @include media-breakpoint-down(xs){
                  min-width: auto;
                  width: 100%;
                  padding: 42px 30px;
                }
                .ms-Dialog-content {
                  .modal-custom-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    min-height: auto;
                    max-height: 80vh;
                    .modal-header {
                      width: 100%;
                      display: flex;
                      align-items: center;
                      justify-content: space-between;
                      margin-bottom: 10px;
                      .circle-box {
                        width: 90px;
                        height: 90px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        margin: 0px auto;
                        // @include media-breakpoint-down(xs) {
                        //   width: 87px;
                        //   height: 87px;
                        //   border: 4px solid $secondary-2;
                        //   margin: -35px auto 0px;
                        // }
                        @include media-breakpoint-down(xxs) {
                          width: 60px;
                          height: 60px;
                          margin: -30px auto 0px;
                        }
                        &.bg-secondary-18 {
                          background: $secondary-12;
                        }
                          > img{
                            @include media-breakpoint-down(xs){
                              width: 30px;
                              height: 30px;
                            }
                          }
                      }
                    }
                    .modal-body {
                      width: 100%;
                      flex: 1;
                      overflow-y: auto;
                      h3{
                        @include text-styles($fs-22, 18px ,  $secondary-11);
                        margin-bottom:10px
                      }
                      p{
                        @include text-styles($fs-18 , 22px , $primary-3);
                        margin-bottom: 50px;
                      }
                    }
                    .ms-Dialog-actions {
                      min-height: auto;
                      margin: 0px;
                      .ms-Dialog-actionsRight {
                        margin-right: 0px;
                        .ms-Dialog-action {
                          margin: 0px;
                          .btn-container{
                            @include media-breakpoint-down(xs){
                              width: 100%;
                            }
                            .btn-green{
                              flex: 1;
                              margin-right: 17px;
                              min-width: 140px;
                              @include media-breakpoint-down(xs){
                                min-width: 94px;
                              }
                            }
                            .btn-red{
                              background-color: $secondary-11;
                              color: $secondary-2;
                              min-width: 140px;
                              flex: 1;
                              @include media-breakpoint-down(xs){
                                min-width: 94px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
}}}
}

//*******************************************************************************************Product page CSS*****************************************************


// media queries
// Sharepoint Select Column Card issue SCSS Customize Start
.CanvasZone{
  .CanvasSection{
    .ControlZone{
      .ControlZone--control{
        .ms-SPLegacyFabricBlock{
          > section{
            @include media-breakpoint-down(mxs){
              padding: 0px;
            }
          }
        }
      }
    }
   
          }


        }


   
    .CanvasSection-xl8{
            .mainClassifiedContainer{
              .subClassified{
                .classified-cards{
                  .custmCols{
                    width: 25%;
                  }
                  .content-card{
                    .social-icons{
                      ul{
                        li{
                          img{
                            width: 25px;
                            height: 25px;
                          }
                        }
                      }
                    }
                  }
                }

              }
            }

            .productDetails{
              .detailsPage{
                .similarPrudcts{
                  .classified-cards{
                    .custmCols{
                      width: 33.33%;
                    }
                  }
                }
                .colSize{
                  width: 100%;
                  .prdCardContainer{
                    margin-top: 30px;
                  }
                }
                .btn-standard{
                  @include text-styles($fs-16 , 30px , $primary-3);
                  margin-bottom:20px;
                  font-weight: 600;
                }
              }
            }
           .emptyCardContainer{
            .addIcon{
              transform: translateY(173px);
            }
           }
          }


          
          .CanvasSection-xl6{
            .mainClassifiedContainer{
              .subClassified{
                .contentPivot{
                  .classified-cards{
                    .custmCols{
                      width: 33.33%;
                      padding: 0px 15px;
                    }
                  }
                 }
              }
            }
            .productDetails{
              .detailsPage{
                .similarPrudcts{
                  .classified-cards{
                    .custmCols{
                      width: 33.33%;
                      padding: 0px 15px;
                    }
                  }
                }

                .colSize{
                  width: 100%;
                  .prdCardContainer{
                    margin-top: 30px;
                  }
                }
              }
            }
            .emptyCardContainer{
              .addIcon{
                transform: none;
              }
            }
            }
  .CanvasSection-xl4{
    .mainClassifiedContainer{
      .subClassified{
       .contentPivot{
        .classified-cards{
          .custmCols{
            width: 50%;
            padding: 0px 15px;
          }
          .content-card{
            .social-icons{
              ul{
                li{
                  padding: 8px 8px;
                  > img{
                    width: 22px;
                    height: 22px;
                  }
                }
              }
            }
            .card-header{
              height: auto;
              .prdPrice{
                >img{
                  width: 100%;
                }
              }
            }
          }
        }
       }

       .searchSection{
        .filtersSortSection{
          margin-top: 10px;
          .filter-dropDown{
            position: absolute;
            left: 0;
            right: 0;
          }
        }
       }

      }
    }
    .productDetails{
      .detailsPage{
        .similarPrudcts{
          .classified-cards{
            .custmCols{
              width: 50%;
            }
          }
        }
        .colSize{
          width: 100%;
          .imageGallerySlider{
            .image-gallery{
              .image-gallery-content{
                display: flex;
                flex-direction: column;
                .image-gallery-slide-wrapper{
                  width: calc(100% - -7px);
                  margin: 0px 50px 0px 0px;
                }
                .image-gallery-thumbnails-wrapper{
                  min-width: 100%;
                  .image-gallery-thumbnails{
                    height: auto !important;
                    .image-gallery-thumbnails-container{
                      display: flex;
                      flex-direction: row;
                    }
                    .image-gallery-thumbnail{
                      margin-left: 6px;
                    }
                  }
                }
              }
            }
          }
          .prdCardContainer{
            margin-top: 30px;
          }

        }
      }
    }

    .emptyCardContainer{
      .addIcon{
        transform: none;
      }
    }
   
  }


  .zoneContent{
    padding-left: 8px;
    margin-top: 10px;
    p{
      @include text-styles($fs-16 , 24px , $secondary-10);
      margin-bottom:-2px;
    }
  .dropZoneContainer {
    height: 100px;
    margin-bottom: 3px;
    // display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
     p{
      font-size: $fs-50;
      margin-bottom: 11px;
    }
     em{
      font-size: .8rem;
    }
    .dropzone {
      flex: 1;
      display: flex;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -ms-flex-align: center;
      align-items: center;
      justify-content: center;
      padding: 20px;
      border-width: 2px;
      border-radius: 2px;
      border-style: dashed;
      background-color: $secondary-2;
      color: $primary-2;
      outline: 0;
      margin-top: 16px;
      transition: border .24s ease-in-out;
      max-width: 100px;
      height: 100%;
      &:focus{
        border-color: $primary-2;
      }
      & .disabled{
        opacity: 0.6;
      }
    }
  }
  
}

  .pagination-empty-card{
    display: flex;
    flex: auto;
    justify-content: space-between;
    @include media-breakpoint-down(md){
      display: flex;
      justify-content: center !important;
    }
     
    .emptyCard{
      min-width: 311px;
    }


  }

  // / Pagination Relative Code Start /
  .pagination-container {
    padding: 0px !important;
    padding-left: 15px !important;
    display: flex;
    justify-content: flex-end;
    @include media-breakpoint-down(sm) {
      margin-top: 12px;
      padding-left: 0px !important;
    }

    @include media-breakpoint-down(md){
      display: flex;
      justify-content: center;
    }
    .ms-Stack {
      .ms-Stack-inner {
        .ms-Button {
          min-width: 32px !important;
          max-width: max-content;
          border-radius: 4px;
          padding: 0px 4px;
          margin-left: 0px;
          border: 1px solid $secondary-4;
          &:not(:last-child) {
            margin-right: 6px;
          }
          .ms-Button-flexContainer {
            .ms-Icon {
              font-size: $fs-12;
              margin: 0px;
            }
            .ms-Button-textContainer {
              .ms-Button-label {
                // @include text-style($fs-16, 18px, $font-regular, $secondary-26);
              }
            }
          }
          &.ms-Button--primary {
            background-color: $primary-1;
            border: 1px solid $primary-1;
            .ms-Button-flexContainer {
              .ms-Button-textContainer {
                .ms-Button-label {
                  // color: $white;
                }
              }
            }
          }
        }
      }
    }
  }
  // / Pagination Relative Code End / 
  // Sharepoint Select Column Card issue SCSS Customize End

  @include media-breakpoint-down(lg-one){
    .productDetails{
      .detailsPage{
        .colSize{
          width: 100%;
          .imageGallerySlider{
            .image-gallery{
              .image-gallery-content{
                display: flex;
                flex-direction: column-reverse;
                .image-gallery-slide-wrapper{
                  width: calc(100% - -7px);
                  margin: 0px 50px 0px 0px;
                }
                .image-gallery-thumbnails-wrapper{
                  min-width: 100%;
                  .image-gallery-thumbnails{
                    height: auto !important;
                    .image-gallery-thumbnails-container{
                      display: flex;
                      flex-direction: row;
                      margin-top: 15px;
                    }
                    .image-gallery-thumbnail{
                      margin-left: 6px;
                    }
                  }
                }
              }
            }
          }
          .prdCardContainer{
            margin-top: 30px;
          }
  
        }
      }
    }
  
  }

  @include media-breakpoint-down(sm-mobile){
    .productDetails{
      .detailsPage{
        padding: 0px;
      .imageGallerySlider{
        .image-gallery-thumbnail{
          .image-gallery-thumbnail-inner{
            // display: none;
          }
        }
      }
    }
  }
    .mainClassifiedContainer{
      .subClassified{
        padding: 0px;
      }
    }
  }

  

  .zoneContent{
  .ms-Button--icon{
    position: absolute;
    top: -8px;
    right: -13px;
    
  }
  .crossIconBtn{
    background-color: $secondary-11;
    padding: 1px;
    border: 1px solid $secondary-11;
    border-radius: 50px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    margin: 0px;
    padding: 6px;
    &:hover{
      background: $secondary-11;
      color: $primary-1;

    }
  }
  .ms-Button-icon{
    font-size: $fs-8;
    color: $secondary-2;
    margin: 0px;
  }
  }



  @include media-breakpoint-down (xs){
    .productDetails{
      .detailsPage{
        .description{
        margin-bottom: 15px;
        }
        .similarPrudcts {
          padding-top: 20px;
        }
        .prdCardContainer{
          display: flex;
          flex-direction: column;
          .prd-details{
            width: 100%;
            .location{
              margin-bottom: 15px;
            }
            .userName{
              margin-bottom: 15px;
            }
            .amt{
              margin-bottom: 15px;
            }
          }
          .social-icons{
            ul{
              display: flex;
              margin-bottom: px;
              li{
                flex: 0 0 20%;
                margin: 0 10px 0 0;
                height: 49px;
                width: 49px;
                display: flex;
                justify-content: center;
                align-items: center;
                a{
                  > img{
                    width: 22px;
                    height: 22px;
                  }
                }
              }
            }
          }
        }
        .colSize{
          .imageGallerySlider{
         .image-gallery-thumbnail{
          margin-left: 0px!important;
          margin-top: 10px;
          margin-right: 0px;
          &.active{
            width: 24px;
          }
          .image-gallery-thumbnail-inner{
            width: 100%;
            .image-gallery-thumbnail-image{
              width: 55px;
              height: 55px;
            }
          }
         }
            .image-gallery{
              .image-gallery-content{
                .image-gallery-slide-wrapper{
                  height: auto;
                }
              }
            }
          }
        }
      }

    }
  }


@include media-breakpoint-down(mxs){
  .productDetails{
    .detailsPage{
      .colSize{
        .imageGallerySlider{
          .image-gallery{
            .image-gallery-content{
              .image-gallery-thumbnails-wrapper{
                .image-gallery-thumbnails{
                  .image-gallery-thumbnails-container{
                    display: flex;
                    justify-content: space-between;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md){
  .productDetails{
    .detailsPage{
      .colSize {
        .imageGallerySlider{
          .image-gallery{
            .image-gallery-content{
              .image-gallery-slide-wrapper{
                height: auto;
                margin-bottom: 13px;
              }
            }
          }
        }
      }
    }
  }
   
  .mainClassifiedContainer{
    .subClassified{
      .searchSection{
        .filtersSortSection{
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

}
  // main CSS End region



  // / Switch Button - Relative Code Start /
.switch-button-container {
  .ms-ChoiceFieldGroup {
    text-align: right;
    .ms-ChoiceFieldGroup-flexContainer {
      display: inline-flex;
      justify-content: flex-start;
      border: 1px solid $secondary-4;
      border-radius: 20px;
      overflow: hidden;
      background-color: $primary-1;
      .ms-ChoiceField {
        margin: 0px;
        min-height: auto;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        &:first-child {
          .ms-ChoiceField-wrapper {
            .ms-ChoiceField-field {
              border-top-left-radius: 6px;
              border-bottom-left-radius: 6px;
              background-color: $primary-1;
              .ms-ChoiceFieldLabel{
                width: 75px;
                @include text-styles($fs-18, 22px , $secondary-2);
                padding-left:0px;
              }
            }
          }
        }
        &:last-child {
          .ms-ChoiceField-wrapper {
            .ms-ChoiceField-field {
              border-top-right-radius: 6px;
              border-bottom-right-radius: 6px;
              background-color: $primary-1;
              .ms-ChoiceFieldLabel{
                @include text-styles($fs-18 , 22px , $secondary-2);
                padding-left: 0px;
                width: 75px;
              }
             
            }
          }
        }
        &:not(:last-child) {
          border-right: 1px solid $primary-1;
        }
        .ms-ChoiceField-wrapper {
          .ms-ChoiceField-field {
            min-width: auto;
            text-align: center;
            padding: 8px 0px;
            background-color: $secondary-2;
            border: none;
            &::after, &::before {
              display: none;
            }
            .ms-ChoiceField-innerField {
              padding: 0px 15px;
              .ms-ChoiceField-iconWrapper {
                i {
                  font-size: 24px;
                  color: $secondary-3;
                }
              }
            }
            .ms-ChoiceField-labelWrapper {
              display: none;
            }
            &.is-checked {
              border-radius: 20px;
              background-color: $secondary-2;
              
              .ms-ChoiceFieldLabel {
                width: 75px;
                @include text-styles($fs-18 , 22px , $primary-1);
                padding-left:0px;
              }
            }
          }
        }
      }
    }
  }
}
// / Switch Button - Relative Code End /

@include media-breakpoint-down(sm){
  .CanvasSection-sm12{
    padding-left: 0px;
    padding-right: 0px;
  }
  .a_c_50a7110f:not(.b_c_50a7110f):not(.j_c_50a7110f){
    padding: 0px 2px;
  }
  .pagination-empty-card{
    .emptyCard{
      .emptyCardContainer{
        .addIcon{
          transform: translateY(0px);
          img{
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}


