@mixin text-styles($font-size,$line-height, $color){
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}


@mixin panelResponsiveCommanWidthStyle($width: 800px){
  .ms-Panel-main {
    width: $width;
    @include media-breakpoint-down(xxl) {
      width: 80%;
    }
    @include media-breakpoint-down(xl) {
      width: 90%;
    }
    @include media-breakpoint-down(xxs) {
      width: 100%;
    }
  }
}





// / Responsive - Mixin Start /
@mixin media-breakpoint-down($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);
  @media (max-width: $breakpoint-value) {
    @content;
  }
}
// / Responsive - Mixin End /  


// button mixins
// Background Button Generate Dynamic
@mixin buttonBackgroundGenerate($backgroundColor) {
  background-color: $backgroundColor;
  border: 1px solid $backgroundColor;
  &:hover{
    background-color: transparent;
    color: $backgroundColor;
  }
}

/* Loader Mixin Comman Code - Mixin Start */
@mixin loaderMixinCommanCode(){
  .fixed-loader-child {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
/* Loader Mixin Comman Code - Mixin End */

