// primary colors 
$primary-1: "[theme:themePrimary, default:#F46036]";
$primary-2:#CAC8CF;
$primary-3:#000000;
$primary-4:#888888;




// secondary colors
$secondary-1:#1190AD;
$secondary-2:#ffffff;
$secondary-3:#E8F5F7;
$secondary-4:#CCCBCE;
$secondary-5:#888888;
$secondary-6:#0000001F;
$secondary-7:#FAFAFA;
$secondary-8:lightgray;
$secondary-9:#0000001A;
$secondary-10:#A8A8A8;
$secondary-11:#FF4B4A;
$secondary-12:#FFECEC;





// font sizes 
$fs-4:4px;
$fs-5:5px;
$fs-6:6px;
$fs-7:7px;
$fs-8:8px;
$fs-9:9px;
$fs-10:10px;
$fs-11:11px;
$fs-12:12px;
$fs-13:13px;
$fs-14:14px;
$fs-15:15px;
$fs-16:16px;
$fs-17:17px;
$fs-18:18px;
$fs-19:19px;
$fs-20:20px;
$fs-21:21px;
$fs-22:22px;
$fs-23:23px;
$fs-24:24px;
$fs-25:25px;
$fs-26:26px;
$fs-27:27px;
$fs-28:28px;
$fs-29:29px;
$fs-30:30px;
$fs-35:35px;
$fs-36:36px;
$fs-50:50px;





// breakpoints
$breakpoints: (
  xxxs: 320px,
  mxs: 375px,
  xxs: 420px,
  xs: 575px,
  sm-mobile:672px,
  sm: 767px,
  md: 991px,
  ipad: 1024px,
  lg-one:1439px,
  lg: 1440px,
  xl: 1500px,
  xxl: 1600px,
);
